.Aboutoverall
  .title
    Yusuke Yamada 
    %br
    portfolio
  .header
    .ul
      =link_to 'Top', '/', class: :li
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li
    #h2.About-title
      About
    #p
      2019年12から2020年2月までプログラミングスクールTECH::EXPERTに通っておりました。
      %br
      言語は Ruby で Ruby on Rails のフレームワークでアプリケーションの開発をしておりました。
      %br
      現在は、個人アプリの開発をしております。
      %br
      学ぶことが好きでプログラミングを学び続けていきたいと考えております。
    
    .about-main
      %img{:src => "../assets/about.jpg", class: "about-main__image"}
      .about-main__contact
        %nl.about-main__contact__name
          %li.about-main__contact__name__title
            Name
          %li.about-main__contact__name__contact
            山田　裕介
        %nl.about-main__contact__age
          %li.about-main__contact__age__title
            Age
          %li.about-main__contact__age__contact
            31歳
        %nl.about-main__contact__address
          %li.about-main__contact__address__title
            Address
          %li.about-main__contact__address__contact
            福岡県大野城市内

        %nl.about-main__contact__family
          %li.about-main__contact__family__title
            Family
          %li.about-main__contact__family__contact
            妻、長女（3歳）、長男（1歳）
        %nl.about-main__contact__hobby
          %li.about-main__contact__hobby__title
            Hobby
          %li.about-main__contact__hobby__contact
            プログラミング
        

        



  .footer
  .ful
    .fli
      =link_to 'Top', '/', class: :fli
      =link_to 'Works', '/portfolios/works', class: :fli
      =link_to 'About', '/portfolios/about', class: :fli
      