.Aboutoverall
  .title
    Yusuke Yamada 
    %br
    portfolio
  .header
    .ul
      =link_to 'Top', '/', class: :li
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li
    #h2.About-title
      chat-space
    %img{:src => "../assets/chat-space.jpg", class: "frema-image"}
    %table
      %tr
        %th
          アプリ詳細
        %td
          実際に存在するchat-spaceを真似をして作成したものである。
          %br
          チャットは画像とメッセージは非同期通信で実装している。 
          %br
          インクリメンタルサーチの実装を行っている。
      %tr
        %th
          URL
        %td
          =link_to 'http://18.178.14.22', 'http://18.178.14.22'
      %tr
        %th
          githhub-URL
        %td
          =link_to 'https://github.com/yusukeminako/chat-space', 'https://github.com/yusukeminako/chat-space'
      %tr
        %th
          使用技術
        %td
          Ruby , Ruby on Rauls , Javascript , jquery , haml , sass , Heroku , github
      

        
      

  .footer
  .ful
    .fli
      =link_to 'Top', '/', class: :li
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li