.Aboutoverall
  .title
    Yusuke Yamada 
    %br
    portfolio
  %ul.menu
    %li.menu__item
      %i.fas.fa-bars{style: "font-size: 60px;"}
      %ul.submenu
        %li.submenu__item
          %a{:href => "/portfolios"} Top
        %li.submenu__item
          %a{:href => "/portfolios/works"} Works
        %li.submenu__item
          %a{:href => "/portfolios/about"} about
%i.fa.fa-chevron-circle-up{"aria-hidden" => "true", style: "font-size: 60px;"}
      
#h2.About-title
  FAMILY RECIPE
  %img{:src => "../assets/famire.jpg", class: "frema-image"}
  %table
    %tr
      %th
        アプリ詳細
      %td
        料理の代行サービスの情報を発信する為のページである。
        %br
        情報発信のページとお問い合わせページで構成されている。
        %br
        お問い合わせページはjQueryである条件を満たさないとエラー表示が出るようにしている。
    %tr
      %th
        URL
      %td
        =link_to 'https://familyrecipe05.herokuapp.com/', 'https://familyrecipe05.herokuapp.com/'
    %tr
      %th
        githhub-URL
      %td
        =link_to 'https://github.com/yusukeminako/familyrecipe ', 'https://github.com/yusukeminako/familyrecipe'
    %tr
      %th
        使用技術
      %td
        Ruby , Ruby on Rauls , Javascript , haml , sass , Heroku , github
.footer
  .wrapper
    %p
      %small yusuke yamadda portfolio