.Aboutoverall
  .title
    Yusuke Yamada 
    %br
    portfolio
  .header
    .ul
      =link_to 'Top', '/', class: :li
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li
    #h2.About-title
      メルカリのコピーサイト
    %img{:src => "../assets/frima.jpg", class: "frema-image"}
    %table
      %tr
        %th
          アプリ詳細
        %td
          スクラムマスターとして４人でチーム開発。
          %br
          DB設計、マイページ、クレジットカード登録、購入部分を担当。
      %tr
        %th
          URL
        %td
          =link_to 'http://54.92.108.193 ', 'http://54.92.108.193 '
      %tr
        %th
          購入者メールアドレス
        %td
          buyer@gmail.com
      %tr
        %th
          購入者パスワード
        %td
          1234567
      %tr
        %th
          出品者メールアドレス
        %td
          seller@gmail.com
      %tr
        %th
          出品者パスワード
        %td
          1234567
      %tr
        %th
          githhub-URL
        %td
          =link_to 'https://github.com/yusukeminako/freemarket_sample_67a ', 'https://github.com/yusukeminako/freemarket_sample_67a '

        
      

  .footer
    .ful
      =link_to 'Top', '/', class: :li
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li
      

