.body
  .title
    Yusuke Yamada 
    %br
    portfolio
  .header
    .ul
      %i.far.fa-hand-point-right.faa-horizontal.animated{style: "font-size: 45px;"}
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li
    
  %img{:src => "assets/top-image.jpg", class: "image1"}
  .main-works
    Initiatives
  .initiatives-main
    前職でお世話になった外部のエンジニアに憧れを持ち、エンジニアを目指そうと思いました。
    %br/
    エンジニアになるために2019年12月から2020年2月まで
    %br/
    プログラミングスクールTECH::EXPERT（株式会社div）に通っておりました。
    %br/
    プログラミングスクールでの開発実績、そして卒業後の取り組み（現在進行中）をご紹介いたします。
    %br/

  .initiatives-main__boxs
    .initiatives-main__boxs__box
      .initiatives-main__boxs__box__title
        TECH::EXPERTでの学習経験
      .initiatives-main__boxs__box__image
        %i.fa.fa-laptop
      .initiatives-main__boxs__box__contact
        HTML・CSS・Ruby・Ruby on Rails・JavaScript・jQuery・SQL・Git・ GitHub
        Haml・SCSS・AWS　等の技術を用いたアプリケーション開発 
 
    .initiatives-main__boxs__box
      .initiatives-main__boxs__box__title
        【開発実績】
      .initiatives-main__boxs__box__image
        %i.fa.fa-book
      .initiatives-main__boxs__box__contact
        Haml・SCSS・Ruby・Ruby on Rails・JavaScript・jQuery・ GitHub・AWS　等の
        技術を用いた複合的機能の企画・実装
        %br/
        ①　Chat-Space（チャットアプリケーション） 　
        %br/
        ②　既存サービスのクローンサイトを開発
        %br/
        ③　スクラムによるアジャイル開発




  .main-works
    Works
  .works
    .work
      .work__image
        = link_to image_tag(src= "/assets/frima.jpg", class: "image2"), frema_portfolios_path
      .work__title
        メルカリのコピーサイト

    .work
      .work__image
        = link_to image_tag(src= "/assets/famire.jpg", class: "image2"), famire_portfolios_path
        
      .work__title
        FAMILY RECIPE （料理代行サービスのホームページ）
  .works2
    .work
      .work__image
        = link_to image_tag(src= "/assets/papa-chat.jpg", class: "image2"), papachat_portfolios_path
      .work__title
        PAPA-CHAT
    .work
      .work__image
        = link_to image_tag(src= "/assets/chat-space.jpg", class: "image2"), chatspace_portfolios_path
      .work__title
        chat-space

  .footer
    .ful
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li
      %i.far.fa-hand-point-left.faa-horizontal.animated{style: "font-size: 45px;"}