.body
  .title
    Yusuke Yamada 
    %br
    portfolio
  %ul.menu
    %li.menu__item
      %i.fas.fa-bars{style: "font-size: 60px;"}
      %ul.submenu
        %li.submenu__item 
          .icon-scroll Initiatives
        %li.submenu__item 
          .icon-scroll2 TECHNOLOG
        %li.submenu__item
          %a{:href => "/portfolios/works"} Works
        %li.submenu__item
          %a{:href => "/portfolios/about"} about
  %i.fa.fa-chevron-circle-up{"aria-hidden" => "true", style: "font-size: 60px;"}
  
  
    
%img{:src => "assets/top-image.jpg", class: "image1"}
  .main-works
    Initiatives
  .initiatives-main
    エンジニアになるために2019年12月から2020年2月までプログラミングスクールTECH::EXPERTに通っており,Ruby on RailsやjQeryなどの技術を用いてのアプリケーション開発をしておりました。
    %br/
    学習方法はカリキュラムを各自読み進めていくという形です。わからない場合は、自分で調べる、それでもわからない場合はメンターを呼び教えてもらうという形で学習を進めておりました。
    %br/
    テキストエディタはVS Codeを使用。
    %br/
    最終課題のチーム開発ではスクラムマスターとしてメンバーのタスク管理や進捗管理をしながら開発を行いました。
  .initiatives-details
    .html
      .html__title HTML/CSS   Haml/Sass
      .html__content 
        HTML/CSSの文法を学び、実際にwebサイトを作成しました。
        %br/
        アプリケーション開発時はHaml/Sassを導入し、マークアップを行いました。
        
    .html
      .html__title Ruby
      .html__content 
        Linuxコマンドやirbコマンドの使い方、メソッド、演算子、オブジェクト、式展開、ハッシュ、if文による条件分岐、whileによる繰り返し文、配列、earchメソッドなど、コードを打ち学習。
        実践編では、クラスとインスタンスの概念からメソッドの使い方、クラスの継承について学びました。
    .html
      .html__title Ruby on Rails
      .html__content 
        データベースはMySQLを使用し、MVCの流れで順番に実装。ルーティング、コントローラー、ビュー、モデルの概念,設定の仕方など。
        その後はデータベースから情報を呼び出す記述、フォームの作り方、データ保存の流れなど。最後はアプリケーション開発でChatspaceの作成、個人アプリ開発、最終課題でフリマアプリの開発の実施。
  .initiatives-details
    .html
      .html__title JavaScript/jQuery
      .html__content 
        文法、画面上で表示を変える、ライブラリ（jQuey）を使ってブラウザ情報を取得、検索機能の実装。
        アプリケーション開発では非同期通信（Ajax）でJSON形式でデータ交換を行った。チャットを非同期で実装、ユーザー検索をインクリメンタルサーチで実装。
        卒業後、自分で再度、チャットアプリを開発したりjQeryでの機能実装の勉強をしております。
        
    .html
      .html__title Git/GitHub
      .html__content 
        Gitの導入からターミナルでのGitの操作、GitHubに登録し、アプリケーションの管理、GitHub Desktopの導入と取り扱い、トラブルシューティングを、学びました。
        アプリケーション開発ではGit/GitHubを用いての開発を行いました。
    .html
      .html__title AWS/EC2
      .html__content 
        サーバーはAWS/EC2を使用しました。（個人で開発したものはHerokuを使用）
        AWSのアカウント作成、EC2インスタンスの設定、Linuxサーバの構築、MySQLの設定、Nginx経由でRailsにアクセスする、Capistranoよるデプロイ作業の自動化等をカリキュラムを見ながら実装。
        AWSは企業様で使用されていることが多いと思いますのでこれから復習の時間に当てていきたいと考えております。


    
  .technolog
    TECHNOLOG
  .technolog-box
    %ul.tooltip
      %li
        %p 開発言語
        %span Ruby/JavaScript
      %li
        %p フレームワーク／ライブラリ
        %span Ruby on Rails/jQuery
      %li
        %p OS／ミドルウェア
        %span Linux/mac OS/MySOL
    %ul.tooltip
      %li
        %p サーバー
        %span AWS/Heroku
      %li
        %p プラットフォーム
        %span Github
      %li
        %p テキストエディタ
        %span VSCode




  .main-works
    Works
  .works
    .work
      .work__image
        = link_to image_tag(src= "/assets/frima.jpg", class: "image2"), frema_portfolios_path
      .work__title
        メルカリのコピーサイト

    .work
      .work__image
        = link_to image_tag(src= "/assets/famire.jpg", class: "image2"), famire_portfolios_path
        
      .work__title
        FAMILY RECIPE （料理代行サービスのホームページ）
  .works2
    .work
      .work__image
        = link_to image_tag(src= "/assets/papa-chat.jpg", class: "image2"), papachat_portfolios_path
      .work__title
        PAPA-CHAT
    .work
      .work__image
        = link_to image_tag(src= "/assets/chat-space.jpg", class: "image2"), chatspace_portfolios_path
      .work__title
        chat-space
.footer
  .wrapper
    %p
      %small yusuke yamadda portfolio
