.body
  .title
    Yusuke Yamada 
    %br
    portfolio
  .header
    .ul
      %i.far.fa-hand-point-right.faa-horizontal.animated{style: "font-size: 45px;"}
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li
    
  %img{:src => "assets/top-image.jpg", class: "image1"}
  .main-works
    Initiatives
  .initiatives-main
    エンジニアになるために2019年12月から2020年2月までプログラミングスクール
    %br/
    TECH::EXPERTに通っており,Ruby on RailsやjQeryなどの技術を用いてのアプリケーション開発をしておりました。
    %br/
    学習方法はカリキュラムを各自読み進めていくという形です。わからない場合は、自分で調べる、それでもわからない場合はメンターを呼び教えてもらうという形で学習を進めておりました。
    %br/
    テキストエディタはVS Codeを使用。
    %br/
    最終課題のチーム開発ではスクラムマスターとしてメンバーのタスク管理や進捗管理をしながら開発を行いました。
  .initiatives-details
    .html
      .html__title HTML/CSS   Haml/Sass
      .html__content 
        スタートはHTML/CSSの最低限の文法を学び、実際に基本のwebサイトを作成しました。
        %br/
        その後のアプリケーション開発時はHaml/Sassを導入し、マークアップを行いました。
        %br/
        Haml,Sassは記述の簡略化や読みやすさもありとても便利に感じました。その後の個人アプリ開発の時もHaml,Sassを使ってマークアップを行いました。
        %br/
        
    .html
      .html__title Ruby
      .html__content 
        Linuxコマンドやirbコマンドの使い方からスタートしました。
        %br/       
        Rubyの学習の基礎編ではメソッド、演算子、オブジェクト、式展開、ハッシュ、if文による条件分岐、whileによる繰り返し文、配列、earchメソッドなど、コードを打ちどういう結果になるかを試しながらの学習でした。
        %br/
        実践編では、クラスとインスタンスの概念からメソッドの使い方、クラスの継承について学びました。
    .html
      .html__title Ruby on Rails
      .html__content 
        Railsによるアプリケーション開発を行いました。データベースはMySQLを使用。
        %br/
        基本編ではMVCの流れで順番に実装していきました。ルーティング、コントローラー、ビュー、モデルの概念,設定の仕方など。
        %br/
        その後はデータベースから情報を呼び出す記述、フォームの作り方、データ保存の流れなど実際にコードを打ちながら理解を深めていきました。
        %br/
        アプリケーション開発の流れを理解した後はChatspaceの作成、個人アプリ開発、最終課題でフリマアプリの開発を行いました。
  .initiatives-details
    .html
      .html__title JavaScript/jQuery
      .html__content 
        基礎編として基本文法、画面上で表示を変える、ライブラリ（jQuey）を使ってブラウザ情報を取得、検索機能の実装を行いました。
        %br/
        その後のアプリケーション開発では非同期通信（Ajax）でJSON形式でデータ交換を行いました。チャットを非同期で実装、ユーザー検索をインクリメンタルサーチで実装をしました。
        %br/
        スクール中は理解できないことが多く、卒業後、自分で再度、チャットアプリを開発し、復習の時間に当てておりました。現在もjQeryでの開発の勉強をしております。
        
    .html
      .html__title Git/GitHub
      .html__content 
        Gitの導入からターミナルでのGitの操作、GitHubに登録し、アプリケーションの管理、GitHub Desktopの導入と取り扱い、トラブルシューティングを、学びました。
        %br/
        その後のアプリケーション開発ではGit/GitHubを用いての開発を行いました。
        %br
        チーム開発では、コンフリクトが起きることが多かったですが、コードの書き方やチームでの決め事など修正をしながら開発を行いました。
    .html
      .html__title AWS/EC2
      .html__content 
        サーバーはプログラミングスクールではAWS/EC2を使用しました。（個人で開発したものはHerokuを使用）
        %br/
        AWSのアカウント作成、EC2インスタンスの設定、Linuxサーバの構築、MySQLの設定、Nginx経由でRailsにアクセスする、Capistranoよるデプロイ作業の自動化等をカリキュラムを見ながら実装を行いました。
        %br/
        AWSは企業様で使用されていることが多いと思いますのでこれから復習の時間に当てていきたいと考えております。


    
  .technolog
    TECHNOLOG
  %ul.tooltip
    %li
      %p 開発言語
      %span Ruby/JavaScript
    %li
      %p フレームワーク／ライブラリ
      %span Ruby on Rails/jQuery
    %li
      %p OS／ミドルウェア
      %span Linux/mac OS/MySOL
  %ul.tooltip
    %li
      %p サーバー
      %span AWS/Heroku
    %li
      %p プラットフォーム
      %span Github
    %li
      %p テキストエディタ
      %span VSCode




  .main-works
    Works
  .works
    .work
      .work__image
        = link_to image_tag(src= "/assets/frima.jpg", class: "image2"), frema_portfolios_path
      .work__title
        メルカリのコピーサイト

    .work
      .work__image
        = link_to image_tag(src= "/assets/famire.jpg", class: "image2"), famire_portfolios_path
        
      .work__title
        FAMILY RECIPE （料理代行サービスのホームページ）
  .works2
    .work
      .work__image
        = link_to image_tag(src= "/assets/papa-chat.jpg", class: "image2"), papachat_portfolios_path
      .work__title
        PAPA-CHAT
    .work
      .work__image
        = link_to image_tag(src= "/assets/chat-space.jpg", class: "image2"), chatspace_portfolios_path
      .work__title
        chat-space

  .footer
    .ful
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li
      %i.far.fa-hand-point-left.faa-horizontal.animated{style: "font-size: 45px;"}

