.Aboutoverall
  .title
    Yusuke Yamada 
    %br
    portfolio
  .header
    .ul
      =link_to 'Top', '/', class: :li
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li
    #h2.About-title
      PAPA-CHAT
    %img{:src => "../assets/papa-chat.jpg", class: "frema-image"}
    %table
      %tr
        %th
          アプリ詳細
        %td
          パパの子育て意見交換ができることをイメージしたチャットサイトである。
          %br
          deviseを使ってログイン機能を実装。
          %br/
          チャットとユーザー検索機能はAjaxで実装をしている。
      %tr
        %th
          URL
        %td
          =link_to 'https://papachat.herokuapp.com/', 'https://papachat.herokuapp.com/'
      %tr
        %th
          githhub-URL
        %td
          =link_to 'https://github.com/yusukeminako/chate-app', 'https://github.com/yusukeminako/chate-app'
      %tr
        %th
          使用技術
        %td
          Ruby , Ruby on Rauls , Javascript , jquery , haml , sass , Heroku , github
      

        
      

  .footer
  .ful
    .fli
      =link_to 'Top', '/', class: :li
      =link_to 'Works', '/portfolios/works', class: :li
      =link_to 'About', '/portfolios/about', class: :li