.Worksoverall
  .title
    Yusuke Yamada 
    %br
    portfolio
  %ul.menu
    %li.menu__item
      %i.fas.fa-bars{style: "font-size: 60px;"}
      %ul.submenu
        %li.submenu__item
          %a{:href => "/portfolios"} Top
        %li.submenu__item
          %a{:href => "/portfolios/about"} about
#h2.About-title
  Works
.works
  .work
    .work__image
      = link_to image_tag(src= "/assets/frima.jpg", class: "image2"), frema_portfolios_path
    .work__title2
      フリマアプリ

  .work
    .work__image
      = link_to image_tag(src= "/assets/famire.jpg", class: "image2"), famire_portfolios_path
      
    .work__title2
      FAMILY RECIPE （料理代行サービスのホームページ）
.works2
  .work
    .work__image
      = link_to image_tag(src= "/assets/papa-chat.jpg", class: "image2"), papachat_portfolios_path
    .work__title2
      PAPA-CHAT
  .work
    .work__image
      = link_to image_tag(src= "/assets/chat-space.jpg", class: "image2"), chatspace_portfolios_path
    .work__title2
      chat-space
.footer
  .wrapper
    %p
      %small yusuke yamadda portfolio
