.Aboutoverall{
  padding: 20px 250px;
  display: flex;
  justify-content: space-between;
}
.About-title{
  font:46px Lato, sans-serif;
  margin: 40px 250px 70px;
  color:gray;
  text-align: center;

}
#p{
  font-size: 15px;
  margin: 10px 400px;
}
.about-main{

  display: flex;
  margin: 70px 395px;
  &__image{
    width: 160px;

  }
  &__contact{
    margin: 10px 20px;
    &__name{
      display: flex;
      list-style: none;
      
      &__title{
        width: 130px;
        font-size: 15px;

      }
      &__contact{
        font-size: 15px;
      }
   
    }

    &__age{
      display: flex;
      list-style: none;
      &__title{
        width: 130px;
        font-size: 15px;

      }
      &__contact{
        font-size: 15px;
      }

    }
    &__university{
      display: flex;
      list-style: none;
      &__title{
        width: 130px;
        font-size: 15px;

      }
      &__contact{
        font-size: 15px;
      }
    }
    

    &__address{
      display: flex;
      list-style: none;
      &__title{
        width: 130px;
        font-size: 15px;

      }
      &__contact{
        font-size: 15px;
      }
  
    }
    &__family{
      display: flex;
      list-style: none;
      &__title{
        width: 130px;
        font-size: 15px;


      }
      &__contact{
        font-size: 15px;
      }
    }
    &__hobby{
      display: flex;
      list-style: none;
      &__title{
        width: 130px;
        font-size: 15px;

      }
      &__contact{
        font-size: 15px;
      }
    }
    &__family{
      display: flex;
      list-style: none;
      &__title{
        width: 130px;
        font-size: 15px;

      }
      &__contact{
        font-size: 15px;
      }
    }
  }
}




.image {
  min-width: 300px;
  max-width: 300px;
  position: relative;
  background-color: #fafafa;
}

.image__main__photo {
  width: 100%;
  vertical-align: bottom;
}
.image__sub {
  line-height: 0;
}
.image__sub__thumb {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.image__sub__thumb__photo {
  padding: 0;
  margin: 0；
}
.image__sub__thumb:not(.active) {//:not(.active)はactiveが付与されていない
  opacity: 0.4;//透明度
}
.footer{
  background: #432;
  text-align: center;
  padding: 26px 0;
  bottom: 0;
  color: white;

}

@media (max-width: 600px){
  #p {
    margin: 10px 25px;
  }
  .about-main {
    margin: 70px 10px;
    display: block;
  }
  .about-main__contact {
    margin: 85px 40px;
  }

  .image {
      margin: 0 10px;
  }
  .Aboutoverall {
    margin: 10px 126px;
    padding: 0 0;
}
  
}