.Worksoverall{
  padding: 0px 150px;
  display: flex;
  justify-content: space-between;
}
.work__title2{
  font-size: 19px;
}
@media (max-width: 600px){
  .About-title {
    margin: 10px 10px;
  }
  table th{
    font-size: 13px;
  }
  table td {
    padding: 15px 10px;
    font-size: 13px;
}
}
